<h1>Update Boardgame Details</h1>

<form action="/boardgames/<%=@boardgame.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="boardgame[name]" id="name" value="<%=@boardgame.name%>" placeholder="Name">

  <br>
  <input type="submit" value="submit">
</form>