<h2>Boardgames:</h2>

<div class="row">
  <ul>
    <% @boardgames.each do |boardgame| %>
      <li><a href="/boardgames/<%= boardgame.id %>"><%= boardgame.name %></a></li>
    <% end %>
  </ul>
</div>
