<h2><%=@boardgame.name%></h2>

<h5>Publisher: <%= @user.username %></h5>

<% if current_user.id == @boardgame.user_id %>
<form action="/boardgames/<%= @boardgame.id %>/edit">
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

<form action="/boardgames/<%=@boardgame.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-danger" id="delete" value="Delete">
</form>
<% end %>
